<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<% provide(:title, 'LogIn') %>
<h1>Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url:login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log In", class: "btn btn-primary" %>

    <% end %>

    <p>New User? <%= link_to "Sign up new!", signup_path %></p>
  </div>
</div>
