<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <% # YIELD permite usar las variables creadas con provide (en este caso las variables se generaron en NEW y EDIT) %>
  <%= f.submit yield(:button_name), class: "btn btn-primary" %>
<% end %>
