<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<% provide(:title, 'Edit') %>
<% provide(:button_name, 'Save changes') %>
<h1>Edit user</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
