<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% provide(:title, 'Sign up') %>
<% provide(:button_name, 'Create my account') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
